<% content_for :question_title, t("views.basic_info_milestone.edit.title") %>

<div class="text--centered">
  <h1 class="h2"><%= content_for(:question_title) %></h1>

  <p class="spacing-below-60"><%= t("views.basic_info_milestone.edit.help_text_html") %></p>

  <%= render "shared/continue_button" %>
</div>
