<% content_for :question_title, t("views.email_nudge.index.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<p><%= t("views.email_nudge.index.title_help_text") %></p>

<div><%= link_to t("views.email_nudge.index.add_an_email"), prev_path, class: "button button--primary" %></div>
<div><%= link_to t("views.email_nudge.index.continue_without_it"), next_path, class: "button" %></div>
