<div class="pdf-packet">
  <div class="header">
    <p class="text--small">SUMMARY OF</p>
    <h1>SNAP Work Requirement Exemptions Attestation</h1>
  </div>
  <div class="grey-box">
    <p>
      <%= full_name %>, (DOB: <%= birth_date %>) attests to the following exemptions from the SNAP work requirements:
    </p>
  </div>
</div>
