<div class="pdf-packet">
  <div class="header">
    <p class="text--small">SUMMARY OF</p>
    <h1>SNAP Work Requirement Exemptions Attestation</h1>
  </div>
  <div class="grey-box">
    <p>
      <%= full_name %>, (DOB: <%= birth_date %>) attests to the following exemptions from the SNAP work requirements:
    </p>
    <p class="section-header">General work requirement exemptions</p>
    <ul>
      <% if caring_for_child_under_6 %>
        <li>Caring for a child under 6 years old <span class="list-item--note">- 7 CFR 273.7(b)(1)(iv)</span></li>
      <% end %>
      <li>Caring for an incapacitated person <span class="list-item--note">- 7 CFR 273.7(b)(1)(iv)</span></li>
      <li>Currently getting unemployment benefits or has applied for unemployment benefits <span class="list-item--note">- 7 CFR 273.7(b)(1)(v)</span></li>
      <li>Participating regularly in an alcohol or drug treatment program <span class="list-item--note">- 7 CFR 273.24(c)(2)</span></li>
      <li>Enrolled in a school, training program, or institution of higher education at least half-time <span class="list-item--note">- 7 CFR 273.7(b)(1)(viii)</span></li>
      <li>Working at least 30 hours a week <span class="list-item--note">- 7 CFR 273.7(b)(1)(vii)</span></li>
      <li>Earning at least $217.50 a week, averaged monthly, from work <span class="list-item--note">- 7 CFR 273.7(b)(1)(vii)</span></li>
    </ul>
  </div>
</div>
