<footer class="footer">
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-sixth">
        <p>&nbsp;</p>
      </div>
      <div class="grid__item width-two-thirds">
        <p>
          <%= t("general.footer.content_html") %>
        </p>
        <p class="spacing-below-35">
          <%= link_to t("general.privacy_policy"), "" %>
        </p>
        <%= image_tag "cfa-logo.svg" %>
      </div>
    </div>
  </div>
</footer>
