<footer class="footer">
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <p>
          <%= t("general.footer.content_html") %>
        </p>
        <p class="spacing-below-35">
        <div class="spacing-below-10">
          <%= link_to t("general.faq"), "" %>
        </div>
        <div>
          <%= link_to t("general.privacy_policy"), "" %>
        </div>
        </p>
        <%= image_tag "cfa-logo.svg" %>
      </div>
    </div>
  </div>
</footer>