<div class="spacing-above-60">
  <% name = "#{model_name}[#{column}]" %>
  <%= form.button :submit, name: name, value: "yes", class: "button yes-or-no" do %>
    <i class="button__icon--left icon-check yes-button-checkmark"></i><%= t("general.affirmative") %>
  <% end %>
  <%= form.button :submit, name: name, value: "no", class: "button yes-or-no" do %>
    <i class="button__icon--left icon-close no-button-cross"></i><%= t("general.negative") %>
  <% end %>
</div>
