<% content_for :question_title, t("views.migrant_farmworker.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<div class="notice teal">
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-help"></i>
    </div>
    <div class="media-box__content">
      <%= t("views.migrant_farmworker.edit.help_text") %>
    </div>
  </div>
</div>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= render "shared/yes_no_buttons", form: f, model_name: @model.class.name.downcase, column: "is_migrant_farmworker" %>
<% end %>
