<h1 class="h2 spacing-above-15"><%= t("views.error_400.bad_request.title") %></h1>
<p><%= t("views.error_400.bad_request.error_text") %></p>
<p class="spacing-above-15"><%= t("views.error_400.bad_request.description") %></p>
