<h1 class="h2 spacing-above-15"><%= t("views.error_500.internal_server_error.title") %></h1>
<p><%= t("views.error_500.internal_server_error.error_text") %></p>
<p class="spacing-above-15"><%= t("views.error_500.internal_server_error.description") %></p>
