<h1 class="h2 spacing-above-15"><%= t("views.error_404.not_found.title") %></h1>
<p><%= t("views.error_404.not_found.error_text") %></p>
<p class="spacing-above-15"><%= t("views.error_404.not_found.description") %></p>
