<h1>Check if the SNAP work rules apply to you</h1>

<p>Because of new policy changes, many adults on SNAP now have to meet work rules, while others may be exempt.</p>
<p>
  <strong>It takes most people 10 minutes or less to complete this form.</strong>
</p>

<%= render ButtonLinkComponent.new(label: "Fill out the form", url: start_flow_path) %>