<h2 class="h3">Privacy Policy</h2>

<p>GetBenefitsHelp.org (the "Site") is a service created by Code for America Labs, Inc. ("Code for America," "we," "us," "our") to help people get and keep government benefits.</p>

<p>This Privacy Policy describes how we collect, use, and protect your personal information. By using our Services, you agree to the terms in this Privacy Policy. This Privacy Notice applies regardless of the type of device you use to access our services. If you do not agree with these terms, please do not continue to use the Site.</p>

<p>If you have any questions or concerns about this Privacy Notice, please contact us at getbenefitshelp@codeforamerica.org.</p>

<h3>How we collect your information</h3>

<p>We collect your information from various sources, such as when you:</p>
<ul class="list--bulleted">
  <li>Visit our Site, fill out forms on our Site, or use our Services</li>
  <li>Provide us with documents to use our Services</li>
  <li>Communicate with us (for instance through email, chat, social media, or otherwise)</li>
</ul>

<p>We will only use your information to:</p>
<ol class="list--numbered">
  <li>Help you get or keep SNAP and any other benefit programs supported in future versions of the Site ("SNAP" herein refers to all such programs).</li>
  <li>Suggest other services or assistance programs that may be useful to you. We will only use your personal information in order to present those services or programs to you as an option, but will never send your personal information to any other services or programs without your permission.</li>
</ol>

<p>We will not knowingly disclose your personal information to any third party, except as provided in this privacy policy.</p>

<p>We will take all reasonable measures to protect your personal information.</p>

<h3>Data Retention</h3>

<p>We will not collect personal information from you without your knowledge and consent.</p>

<ol class="list--numbered">
  <li>
    <p>We will collect and store the following personal information for 24 months, or the maximum allowable period under relevant state or federal law, whichever is less:</p>
    <ul class="list--bulleted">
      <li>All personal information that you provide in the GetBenefitsHelp.org Site, which may include your SNAP case number, the last four digits of your Social Security Number, typed signature, date of birth, language preference, name, phone number, and email address.</li>
      <li>Copies of any documents you upload, like pictures of your driver's license, pay stubs, birth certifications, rent receipts, etc.</li>
      <li>Any messages you send us through SMS, email, or live chat</li>
      <li>Any answers or comments you provide in response to a survey we send you</li>
    </ul>
    <p>You can email us at getbenefitshelp@codeforamerica.org to:</p>
    <ul class="list--bulleted">
      <li>Request that your personal information be deleted sooner</li>
      <li>Request a copy of your personal information</li>
      <li>Request corrections to inaccuracies in your personal information</li>
      <li>Opt-out of further processing of your personal information</li>
    </ul>
  </li>
  <li>
    <p>We will collect and store the following information for the maximum allowable period under relevant state or federal law. The information listed below can help us understand trends about the people using the Site, <strong>without</strong> connecting it to information that could identify who you are:</p>
    <ul class="list--bulleted">
      <li>Non-identifiable Information you provide us about yourself, your household, or people you care for (for example, information about circumstances that may make you exempt from a benefit program's work requirements)</li>
      <li>Any answers or comments you provide in response to feedback surveys we may send you</li>
    </ul>
  </li>
</ol>

<p>This information is stored to help us improve our Site and Services.</p>

<p>In addition to the information you provide, we automatically collect and store information about your visit to the Site. We use this information to understand how the Site is used, improve the Site, and monitor usage for security purposes. This data is stored separately from the personal information you submit in the GetBenefitsHelp.org Site. This information includes:</p>
<ul class="list--bulleted">
  <li>Domain from which you access the Internet</li>
  <li>IP address (an IP or internet protocol address is a number that is automatically given to a computer connected to the Web)</li>
  <li>Operating system on your computer and information about the browser you used when visiting the site</li>
  <li>Date and time of your visit</li>
  <li>Pages you visited</li>
  <li>Address of the website that connected you to the Site (such as google.com)</li>
</ul>

<h3>How we use your information</h3>

<p>We use your information for our business purposes, such as</p>
<ul class="list--bulleted">
  <li>To complete forms required for use of our Services</li>
  <li>To provide support to you through the process and communicate with you</li>
  <li>To monitor and understand how the Site and our Services are used</li>
  <li>To improve the quality or scope of the Site or our Services</li>
  <li>To suggest other services or assistance programs that may be useful to you</li>
  <li>For security purposes</li>
  <li>To comply with legal requirements and obligations</li>
</ul>

<p>We will not send you an email unless you provide your email on the Site or you email us first.</p>

<p>We will not send you a text message unless you consent to text message communication in the application or you text us first. <strong>You can reply 'STOP' to any text message to unsubscribe.</strong></p>

<h3>How we share your information</h3>

<p>We do not sell your personal information. We do not share your personal information with any third party, except as provided in this Privacy Policy. We may use or disclose your information in the following instances:</p>
<ul class="list--bulleted">
  <li>For analysis and reporting, we may share limited aggregate information with government agencies or other third parties, including state agencies administering public benefit programs, to analyze the use of our Services, in order to improve and expand our services. Such analysis is always performed using anonymized data.</li>
  <li>For research to improve our Services, including:
    <ul class="list--bulleted">
      <li>To invite you to complete questionnaires regarding your experience using our product.</li>
      <li>To send you opportunities to participate in paid user research sessions, to learn more about your experience using our product and to guide the development of future products and services.</li>
    </ul>
  </li>
  <li>If necessary, we may disclose your information to contractors who help us provide our services. We require our third parties acting on our behalf to keep your personal information secure, and do not allow these third parties to use or share your personal information for any purpose other than providing services on our behalf.</li>
  <li>Legal Compliance: In certain situations, we may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements. We may also disclose your personal information as required by law, such as to comply with a subpoena or other legal process, when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
</ul>

<p>We use MixPanel and Google Analytics to understand how visitors use our site and to gather aggregate performance metrics. We also use Datadog to monitor system performance. You can also email getbenefitshelp@codeforamerica.org for additional information.</p>

<h3>How we protect your information</h3>

<p>Protecting your personal information is extremely important to us and we take all reasonable measures to do so. Here are some specific security practices we use:</p>
<ul class="list--bulleted">
  <li>When you enter your information on our site we encrypt the transmission of that information using transport layer security (TLS).</li>
  <li>We store your information in a secure, purpose-built environment hosted by Amazon Web Services (AWS).</li>
</ul>

<p>Although we try our best to protect the privacy of your personal information, we cannot guarantee complete security. The transmission of information via the Internet is not completely secure. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

<p>In the event of a security system breach, you will be notified pursuant to applicable state statutes regarding breach notifications.</p>

<p>If you have questions about the security of your personal information, or if you have reason to believe that the personal information that we hold about you is no longer secure, please contact us immediately by email at getbenefitshelp@codeforamerica.org</p>

<h3>Changes</h3>

<p>We may change this Privacy Policy from time to time. Please check this page frequently for updates as your continued use of this site after any changes in this Privacy Policy will constitute your acceptance of the changes.</p>

<h3>Effective Date</h3>

<p>This version of the policy is effective April 10, 2026.</p>

<h3>Questions</h3>

<p>If you have any questions, comments, concerns, or complaints with the Site, please contact us by email at getbenefitshelp@codeforamerica.org.</p>

<p>We will do our best to resolve the issue.</p>
