@import "cfa_styleguide_main";

html {
  background-color: $color-grey;
}

main {
  background-color: $color-grey-light;
}

@media screen and (min-width: 800px) {
  .card {
    padding: 6rem;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;

  .button {
    margin: 0;
  }
}

.slab.slab-toolbar {
  padding-top: 0;
  padding-bottom: 0;
}

.slab {
  margin-left: 6rem;
  margin-right: 6rem;

  @media screen and (max-width: $tablet-up) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.footer {
  background-color: $color-grey;
}

.illustration.left-justified {
  margin-left: 1rem;
}

.notice {
  padding: 0.8rem;
}

.notice.white {
  border-color: $color-grey-light;
  background-color: #FFFFFF;
}

.notice.teal {
  color: #034E46;
  border: 2px solid #034E46;
  background-color: #EBFFFA;
  border-radius: 10px;
}

.progress-bar {
  color: $color-teal;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 6rem;
  max-width: 400px;

  @media screen and (max-width: $tablet-up) {
    width: 100%;
  }
}

i.yes-button-checkmark {
  color: $color-green;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0;
  vertical-align: middle;
}

i.no-button-cross {
  color: $color-red;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0;
  vertical-align: middle;
}

.question-with-follow-up__follow-up {
  border: none;
  background: none;
}

.question-with-follow-up__follow-up:before {
  content: none;
}

.question-with-follow-up__follow-up:after {
  content: none;
}

.checkbox-group {
  .input-group {
    margin-bottom: 0;
  }
}
