<!DOCTYPE html>
<html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
  </style>
  <%= stylesheet_link_tag 'wr_exemption_pdf' %>
</head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
